<div id="page-content">
    <div class="container" id = "home-container">
        <div class="jumbotron text-center">
            <h1 class="display-4" id = "ducks" >Ducks</h1>
            <p class="lead">They walk, they swim, they fly.</p>
            <hr class="my-4">
            <p>Ducks are awesome.</p>
            <div class="btn btn-lg">
                <%= button_to 'Learn more', articles_path, method: :get %>
            </div> 
        </div>
    </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Wicifer", "https://github.com/wicifer", class: "text-white" %></small>
    </div>
</footer>