<div class="container " id = "home-container">
    <div class="jumbotron text-center">
        <div class= "spacing">
            <h1 class="display-3 my-4"  > This is a blog</h1>
            <p class="lead">Do people still use blogs?</p>
            <hr class="my-5">
            <p>Blog made using Ruby on Rails, Bootstrap, Heroku and Postgres.</p>
            <div class="btn btn-lg">
                <%= button_to 'Sign up', signup_path, method: :get, class: "btn btn-outline-dark" %>
                <%= button_to 'Log in', login_path, method: :get, class: "btn btn-outline-dark mt-4" %>
            </div> 
        </div>
    </div>
</div>


