@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: rgb(104, 130, 145) !important;
}

.jumbotron {
    background-image: asset-url('minimalist.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
}



#logo {
    float: left;
    font-size: 1.7em;
    color: rgb(14, 12, 12);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
  background: #353738;
  background: linear-gradient(to right, #3d454e, #394247);
}
